.header {
    display: flex;
    justify-content: center;
    color: red;
}

body {
    background-color: aqua;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 250px;
    height: 250px;
    border: 1px solid brown;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.calculatorScreen {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: gray;
    height:40px;
    font-size: xx-large;
    border: 3px solid black;
}

.footer {
    display: flex;
    margin-top: 450px;
    color: red;
    
}


/*CALCULATOR COLORING*/
.num{
    background-color: orange;
}
.divide {
    background-color: purple;
}
.multiply {
    background-color: purple;
}
.subtract {
    background-color: purple;
}
.add {
    background-color: purple;
}
.decimal {
    background-color: lightgreen;
}
.equals {
    background-color: lightgreen;
}
.smile {
    background-color: lightgreen;
}
.reset {
background-color: lightblue;
}
.posNeg {
    background-color: lightblue;

}
.idk {
    background-color: lightblue;
}